<!DOCTYPE html>
<html lang="en">
<head>
    <title>Books</title>

</head>
<body>
<h3>List books</h3>
<h5><a href="/register">Go to register page</a></h5>
<table>
    <% for (const employee of employeeList) { %>
    <tr>
        <td>ID: <%= employee.id %> </td>
        <td>Name: <%= employee.name %> </td>
        <td>Phone Number: <%= employee.phone %> </td>
        <td>Employee Name: <%= employee.address %> </td>
    </tr>
<% } %>
    <tr>
        <% for (let i = 0; i< (total[0].total%5!==0 ? Math.floor(total[0].total/5) + 1: total[0].total/5) ; i++ )  { %>
           <td><a href="/employee/list?page=<%=i%>">page<%=i%></a></td>
        <% } %>
    </tr>
</table>

</body>
</html>